html {
  --lumo-primary-text-color: rgb(0, 104, 240);
  --lumo-primary-color-50pct: rgba(0, 104, 240, 0.5);
  --lumo-primary-color-10pct: rgba(0, 104, 240, 0.1);
  --lumo-primary-color: hsl(214, 100%, 47%);
}

[theme~="dark"] {
}